@font-face {
    font-family: 'newFont';
    src: url('newFont.ttf');
}

@font-face {
    font-family: 'codeFont';
    src: url('codeFont.otf');
}

@font-face {
    font-family: 'titleFont';
    src: url('titleFont.ttf');
}

@font-face {
    font-family: 'titleSubFont';
    src: url('titleSubFont.ttf');
}



html {
    background: url(background.png) no-repeat center center fixed;
    background-color:powderblue;
    background-size: cover;
    white-space: normal;
    text-rendering: geometricPrecision;
    image-rendering: auto;
    font-family:"Trebuchet ms",arial;font-size:0.9em;
}

hr {
    color:black;
    border: 1px solid black;
    background-color:black;
    max-width:520px;
    text-align:center;
    height:1px;
    text-rendering: geometricPrecision;
}

u {
    text-decoration: underline;
    height:1px;
    max-height: 1px;
    min-height: 1px;
    border-bottom: 1px solid transparent;
    box-shadow: inset 0 0px 0 white, inset 0 -1px 0 transparent;
    font-size:18px;
    color:white;
    display: inline;
}

img {
    image-rendering: auto;
}

p {
    color: black;
    font-family: 'newFont';
    word-wrap: normal;
    display: inline;
    display: inline;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 500;
    text-rendering: geometricPrecision;
    text-align: left;
    vertical-align: text-top;
    display: inline;
}

code { 
    font-family: 'codeFont';
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: 700;
    padding-bottom:2px;
    display: inline-block;
    padding-left:2px;
    padding-right:2px;
    text-rendering: geometricPrecision;
    background: hsl(220, 80%, 90%); 
    white-space: normal;
    text-align: left;
    font-size:17px;
    vertical-align: middle;
    height: 22px;
    display: inline;;
}

pre { 
    font-family: 'newFont';
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: 100;
    padding-bottom:2px;
    display: inline-block;
    padding-left:2px;
    padding-right:2px;
    text-rendering: geometricPrecision;
    background: lightgray; 
    white-space: normal;
    text-align: left;
    font-size:17px;
    vertical-align: middle;
    height: auto;
    display: inline;
}

a {
    text-decoration: underline;
    font-family: 'newFont';
    word-wrap: normal;
    display: inline;
    line-height: 1.1;
    margin: 0 auto;
    display: inline;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    text-rendering: geometricPrecision;
    text-decoration: underline;
    text-decoration-color: #FF0000;
    display: inline;
}

iframe {
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
}

div.contentPaperSheet {
    background-color: black;
    opacity: 0.8;
    padding: 10px;
    width: 560px;
    min-width: 560px;
    max-width: 560px;
    min-height:auto;
    max-height:auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:-32px;
    padding-bottom:0px;
    text-rendering: geometricPrecision;
    text-align: left;
    vertical-align: text-top;
    padding:0px;
}

.releasenum {
    font-size: 14px;
    vertical-align: text-bottom; 
    padding-top:10px;
    font-weight:900;
}

.navlink {
    color:black;
    text-decoration-color: black;
    text-decoration:none;
    text-rendering: geometricPrecision;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    word-spacing: 14px;
    text-align:center;
    margin-top:-128px;
    font-size:18px;
}

.logoname {
	text-align:center;
	color:black;
	text-decoration-color:black;
	font-size:38px;
	padding-top:-18px;
	font-family: 'titleFont';
	font-weight:100;
	text-decoration:none;
	padding-right:4px;
	letter-spacing:1px;
	padding-top:42px;
	margin-right:30px;
	white-space: nowrap;
}

.logounder {
	text-align:center;
	color:black;
	text-decoration-color:black;
	font-size:12.5px;
	padding-top:12px;
	padding-left:127px;
	font-family: 'titleSubFont';
	font-weight:700;
	text-decoration:none;
	padding-right:33px;
	letter-spacing:1.9px;
	display: block;
	position:absolute;
}

.logoface {
	margin-top:-5px;
	padding-left:10px;
	position:absolute;
	display:inline;
	width:46px;
	
}

a.navlink {
	display:inline;
	word-spacing:32px;
}

.sidephoto {
	float:right; 
	margin-right:16px; 
	margin-top:18px;
	width: 250;
}

.maincontent {
	padding:16px;
}

.atmybest {
	line-height:16px;
	font-weight:700;
	font-size:17px;
}

.ontwitter {
	color: #55acee;
	text-decoration-color:#55acee;
}

.onmyyoutubechannel {
	color: #ff0000; 
	text-decoration-color:#ff0000;
}

.twitterspon {
	color: #55acee;
	text-decoration: underline;
	text-decoration-color: #55acee;
	font-size: 18px;
	font-weight:900;
}

.discordspon {
	color: #7289DA;
	text-decoration: underline;
	text-decoration-color: #7289DA;
	font-size: 18px;
	font-weight:900;
}

.gmailspon {
	color: #c71610;
	text-decoration: underline;
	text-decoration-color: #c71610;
	font-size: 18px;
	font-weight:900;
}

.youtubeplayer {
	border: 1px solid black;
	float:right;
	margin-right:3px;
	margin-top:12px;
	width: 320px;
	height: 182px;
}

.mylatestyoutubevideo {
	color:#333333;
	display:absolute; 
	position:absolute; 
	margin-top:14px; 
	margin-left:0px; 
	font-size:26px; 
	font-weight:700;
}

.littlegoodtext {
	display:absolute; 
	position:absolute; 
	margin-top:2px; 
	margin-left:118px; 
	font-size:14px; 
	font-weight:700;
}

.youtubesponleftplayer {
	text-decoration:none; 
	color:#ff0000;
	font-size:17px;
}

.alsoontwitchttv {
	font-size:10px;
	font-weight:700;
	text-decoration:none; 
	color:#6441A4;
	}

.twitchspon {
	text-decoration:none;
	color:#6441A4;
	font-size:10px;
	font-weight:700;
	text-rendering: geometricPrecision;
}

.blogpostlist {
	color: orange;
	font-weight:700;
	font-size:16px;
	text-align:center;
	vertical-align:middle;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	text-decoration-color:orange;
	text-decoration:underline;
}

.fbtopbar {
	background-color:#3b5998;
	display:relative;
	top:0;
	left:16;
}

.fbtopbarlogo {
	width:20px;
	height:auto;
	padding:5px;
}

.fbheaderimage {
	image-rendering: auto;
	margin-bottom:2px;
}

.fbfakeoptions {
	margin-top:0px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	height: 24px;
	padding-top:-32px;
	font-size:16px;
	line-height:0px;
}

.fbpipe {
	font-weight:100;
	font-size:32px;
	line-height:0px;
	font-family: 'Roboto', sans-serif;
}

.fbfakeoptionwords {
	color:blue;
	font-size:16px;
	line-height:20px;
	text-decoration:none;
	text-decoration-color:white;
	font-family: 'Roboto', sans-serif;
}

.fbwarning {
	color:red;
	font-weight:700;
	font-size:14px;
	letter-spacing:0px;
	line-height:15px;
	white-space:normal;
}

.fbphotoaboveheader {
	display:inline;
	position:absolute;
	margin-top:-172px;
	margin-left:12px;
	border:4px solid white;
}

.fbtextaboveheader {
	display:inline;
	position:absolute;
	margin-top:-36px;
	margin-left:78px;
	color:white;
	font-size:20px;
}

.fbinfobox {
	border: 1px solid black;
	padding-top:1px;
	padding-left:5px;
	width:180px;
	margin-top:14px;
	padding-right:5px;
	padding:5px;
}

.fbinfoboxtext {
	color:white;
	font-size:13px;
	padding:2px;
	letter-spacing:0px;
	line-height:16px;
	font-family: 'Roboto', sans-serif;
	background-color:black;
	font-weight:100;
}

.fbinfoboxtextbr {
	height:0px;
	max-height:0px;
	min-height:0px;
	display: block;
	line-height:0px;
}


.fbmaincontentbox {
	border: 1px solid black;
	color:white;
	font-size:13px;
	padding:2px;
	letter-spacing:0px;
	line-height:16px;
	font-family: 'Roboto', sans-serif;
	background-color:black;
	font-weight:100;
	position:absolute;
	top:327px;
	margin-left:200px;
	max-width:321px;
	padding-right:2px;
	width:321px;
	min-width:321px;
}

.fbmaincontentboxtext {
	font-size:16px;
	color: white;
}

.fbafewminsago {
	font-size:12px;
	color:white;
}

.fbsmallpost {
	font-size:13px;
	line-height:15px;
	color: white;
}

.fbokayphoto {
	padding:8px;
	width:86px;
	height:auto;
}

.fblewdbutton {
    background-color: white;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black;
    margin:5px;
    width:500px;
}

.fblewdtext {
	font-size:14px;
	line-height:16px;
	padding:5px;
	width:500px;
	display:inline;
	float:left;
	position:absolute;
	margin-left:-200px;
	
}

.fblewdtextmain {
	white-space:nowrap;
	font-size:14px;
	float:left;
	line-height:17px;
}

.postblogtitle {
	font-weight:700;
	font-size:19px;
}

.postblogtitlesub {
	font-weight:100;
	font-size:14px;
	line-height:15px;
}

.blogpost {
	border: 1px solid gray;
	padding: 5px;
}